@charset "UTF-8";
html {
    font-size: 100%;
}
.header {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #2B383F;
}
.header h1{
    color: #FFFFFF;
    font-family: "Arial Black", sans-serif;
    margin-left: 8rem; 
}
.header nav {
    margin-right: 8rem; 
}
.nav-list{
    display: flex;
    gap: 2.5rem;
    font-size: 1rem;
    list-style: none;
}
.nav-list a {
    color: #FFFFFF;
    text-decoration: none;
}
/* メイン */
.login{
    background-image: url('../images/copytest1.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 70vh;
    display: flex; /* Flexコンテナにする */
    flex-direction: column; /* 子要素を縦に並べる */
    justify-content: center; /* 主軸（縦方向）で中央揃え */
    align-items: center; /* 交差軸（横方向）で中央揃え */
}
.login h2{
    color: #FFFFFF;
    font-size: 2.5rem; 
}
.login .button{
    color: #FFFFFF;
    font-size: 1rem; 
    /* ボタンの背景色 */
    background-color: #47AEA1; 
    padding: 10px 40px; 
    text-decoration: none;
    display: inline-block; 
    border-radius: 15px;
}
.lesson{
    margin-top: 5rem auto; 
    display: flex;
    flex-direction: column; /* 子要素を縦に並べる */
    align-items: center; /* 子要素を横方向の中央に揃える */
}
.lesson h2{
    font-size: 2.5rem;
}
.lesson-list{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 2rem; 
    list-style: none; /* リストの黒丸を消す */
    padding: 0;
}
.lesson-list .lesson-item {
    width: calc(20% - 1.5rem); /* 例: 4つ並べる場合。gapの値を考慮 */

}
.lesson .button{
    color: #FFFFFF;
    font-size: 1rem; 
    /* ボタンの背景色 */
    background-color: #47AEA1; 
    margin: 4rem;
    padding: 10px 40px; 
    text-decoration: none;
    display: inline-block; 
    border-radius: 15px;
}
footer {
    background-color: #2B383F;
    color: #FFFFFF;
    padding: 1rem 0; 
    text-align: center; 
}

